

.pagination {
	margin-bottom: 30px;
	margin-top: 30px;
	.page-item {
		a {
			font-size: 14px;
			color: $primaryColor;
			@include transition(.3s);
			&:hover {
				background: #F4F8FB;
			}
		}
	}
}

@media (max-width : 991px) {
	.blog-post-thumb {
		&.big {
			.img {
				height: 350px;
			}
		}
	}
}

@media (max-width : 420px) {
	.blog-post-thumb {
		&.big {
			.img {
				height: 200px;
			}
		}
	}
}