/* 
---------------------------------------------
team
--------------------------------------------- 
*/
.team-item {
	&:hover {
		.user-image {
			bottom: -55px;
		}
		.team-content {
			.team-info {
				&:before {
					height: 113px;
				}
			}
		}
	}
	.user-image {
		width: 96px;
		height: 96px;
		border: 6px solid #fff;
		bottom: -45px;
		@include transition(.4s);
	}
	.team-content {
		&:hover {
			.svvg{
				fill: var(--color-1);
			}
		}
		.team-info {
			&:before {
				content: '';
				position: absolute;
				top: 0px;
				left: 0px;
				right: 0px;
				background-image: linear-gradient(135deg, $gradientDark 0%, $gradientLight 100%);
				height: 68px;
				z-index: 1;
				@include transition(.4s);
						 border-top-left-radius: 5px;
						border-top-right-radius: 5px;				
			}
		}
		p {
			letter-spacing: 0.6px;
		}
	}
}